<main id="main" class="main">
    <div class="pagetitle">
       <h1>Mapa</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
             <li class="breadcrumb-item">Mapa</li>
          </ol>
       </nav>
    </div>
 
    <div class="card">
       <div class="card-header" style="padding: 0; position: relative">
          <div
            class="banner"
            style="
              background-image: url('/assets/img/BANNERS-VR-FINAL/ATRACCIONES.png');
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              background-size:contain;
              background-position: center;
              height: 0;
              padding-bottom: 23%; /* Ajusta este valor según la relación de aspecto de tu imagen */
            "
          ></div>
          <div
            class="overlay"
            style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"
          ></div>
        </div>
        <div class="card-body">
            
        </div>
    </div>
</main>
