<main id="main" class="main">
    <div class="pagetitle">
      <h1>Tickets</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Principal</a></li>
          <li class="breadcrumb-item active">Ventas Ticket</li>
          <li class="breadcrumb-item">Listados</li>
        </ol>
      </nav>
    </div>
  
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header" style="padding: 0; position: relative">
              <div
                class="banner"
                style="
                  background-image: url('/assets/img/BANNERS-VR-FINAL/VENTAS-TICKET.png');
                  border-top-left-radius: 10px;
             border-top-right-radius: 10px;
             background-size:contain;
             background-position: center;
             height: 0;
             padding-bottom: 26%; /* Ajusta este valor según la relación de aspecto de tu imagen */
           "
              ></div>
              <div
                class="overlay"
                style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"
              ></div>
            </div>
            <div class="card-body">
              <div class="row ms-4 col-11">
                <button
                  class="ov-btn-grow-primary mt-3 col-2"
                  style="height: 2.4rem; margin-left: 0"
                  routerLink="/createticketsclientes"
                >
                  <i class="fas fa-plus-circle mr-1"></i>
                  Nuevo
                </button>
  
                <div class="search-bar mt-3 col-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar..."
                    [(ngModel)]="filtro"
                  />
                </div>
                <div class="col-4 mt-3">                                                                          
                  <div class="input-group" style="height: 2.4rem;">                                       
                      <label style="margin-top: 0.5rem; margin-right: 0.5rem; font-weight: bold  ;">Registros por página:</label>
                     <span class="input-group-text"><i class="bi bi-filter-square-fill" style="color: blueviolet;"></i></span>
                     <select id="pageSize" class="form-select" [(ngModel)]="selectedPageSize" >
                        <option *ngFor="let pageSize of pageSizeOptions" [value]="pageSize">{{ pageSize }}</option>
                     </select>
                  </div>                                                                        
               </div> 
              </div>
              <table
                class="table table-hover"
                style="margin-top: 20px; margin-left: 10px; margin-right: 10px"
              >
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tipo de Ticket</th>
                    <th scope="col">Método de pago</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha Compra</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of filtrarTickets()
                        | paginate : { itemsPerPage: selectedPageSize, currentPage: p }
                    "
                  >
                    <th scope="row">{{ item.ticl_ID }}</th>
                    <td>{{ item.tckt_Nombre }}</td>
                    <td>{{ item.pago_Nombre }}</td>
                    <td>{{ item.clie_Nombres }}</td>
                    <td>{{ item.ticl_Cantidad }}</td>
                    <td>{{ item.ticl_FechaCompra }}</td>
                    <td>
                      <button class="ov-btn-grow-primary col-2"  
                              style="height: 2.4rem; width: 110px; margin-left: 10px"
                              (click)="onEdit()">
                              <i class="bi bi-pen-fill"></i> Editar
                      </button>
                      <button
                      class="ov-btn-grow-d col-2"  
                      style="height: 2.4rem; width: 110px; margin-left: 10px"
                      (click)="onDelete()"
                      >
                        <i class="bi bi-trash-fill"></i> Eliminar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination d-flex justify-content-center mt-4">
                <pagination-controls
                  (pageChange)="p = $event"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                  firstLabel="Primera"
                  lastLabel="Última"
                  screenReaderPaginationLabel="Paginación"
                  screenReaderPageLabel="Página"
                  screenReaderCurrentLabel="Página actual"
                >
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
  </main>
  
