<main id="main" class="main">
    <div class="pagetitle">
      <h1>Filas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
          <li class="breadcrumb-item">Filas</li>
          <li class="breadcrumb-item active">Listado</li>
        </ol>
      </nav>
    </div>
    <div class="card">
      <div class="card-header" style="padding: 0; position: relative">
        <div
          class="banner"
          style="
            background-image: url('../../assets/img/BANNERS-VR-FINAL/FILAS.png');
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-size: contain;
            background-position: center;
            height: 0;
            padding-bottom: 26%; /* Ajusta este valor según la relación de aspecto de tu imagen */
          "
        ></div>
        <div
          class="overlay"
          style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"
        ></div>
      </div>
      <div class="card-body">
        <div class="row ms-4 col-11">
          <button
            class="ov-btn-grow-primary mt-3 col-2"
            style="height: 2.4rem; margin-left: 0"
            data-bs-toggle="modal"
            data-bs-target="#crear"
            (click)="Limpiar()"
          >
            <i class="fas fa-plus-circle mr-1"></i>
            Nuevo
          </button>
          <div class="search-bar mt-3 col-8">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar..."
              [(ngModel)]="filtro"
              (keyup)="filtrado()"
            />
          </div>
          <div class="mt-3 col-2">
            <select [(ngModel)]="itemsPerPage" class="form-select" (change)="onChangeItemsPerPage($event)">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
        
        <div class="row col-12 mt-2" style="margin-left: .4rem;">
            <div class="col-12 text-center mb-2" style="border-top: 1px solid #000">
                <span style="background-color: white; padding: 0 10px;">
                    ‎ 
                </span>
              </div>
          <div class=" col-3">
            <select [(ngModel)]="atra_ID" class="form-select">
              <option value="0">Atracción</option>
              <option *ngFor="let attr of ddlAtracciones" [value]="attr.atra_ID">
                {{ attr.atra_Nombre }}
              </option>
            </select>
          </div>
          <div class=" col-3">
            <select [(ngModel)]="tifi_ID" class="form-select">
              <option value="0">Tipo Fila</option>
              <option value="1">Clasica</option>
              <option value="2">V.I.P</option>
            </select>
          </div>
  
          <button
            type="button"
            class="ov-btn-grow-primary  col-2"
            style="height: 2.4rem; margin-left: 0;"
            (click)="FilasPosiciones()"
          >
            <i class="fas fa-filter"></i>
            Filtrar
          </button>
          
          <button
          type="button"
          class="ov-btn-grow-success  col-3 ms-2"
          style="height: 2.4rem; margin-left: 0; max-width: 13.1rem;"
          data-bs-toggle="modal"
          data-bs-target="#eliminarCompleto"
        >
          <i class="fas fa-sync-alt mr-1"></i> <!-- Icono de actualizar -->
          Actualizar Fila
        </button>
        
        </div>

        <table class="table table-hover" style="margin-top: 20px; margin-left: 10px; margin-right: 10px">
            <thead>
              <tr>
                <th>Posición</th>
                <th>ID</th>
                <th>Ticket</th>
                <th>Cliente</th>
                <th>Hora de Ingreso</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="filasfiltradas.length > 0; else noData">
                <tr *ngFor="let fil of filasfiltradas | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                  <td>{{ fil.posicion }}</td>
                  <td>{{ fil.fipo_ID }}</td>
                  <td>{{ fil.ticl_ID }}</td>
                  <td>{{ fil.cliente_Nombre }}</td>
                  <td>{{ fil.fipo_HoraIngreso }}</td>
                  <td><button class="ov-btn-grow-d"
                    data-bs-toggle="modal"
                    data-bs-target="#eliminar"
                    (click)="Modal(fil)"
                    >
                    <i class="bi bi-trash-fill ml-1"></i> 
                    Eliminar
                      </button>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <tr>
                  <td colspan="6" style="text-align: center;">Sin contenido</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          

  
        <div class="pagination d-flex justify-content-center mt-4">
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            firstLabel="Primera"
            lastLabel="Última"
            screenReaderPaginationLabel="Paginación"
            screenReaderPageLabel="Página"
            screenReaderCurrentLabel="Página actual"
          >
          </pagination-controls>
        </div>
  
      </div>
    </div>
  </main>


  <!--/Modal Insert-->
  <div class="modal fade" id="crear" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ingreso en la fila</h5>
        </div>
        <div class="modal-body align-items-center ">
          <i
            class="bi bi-exclamation-circle-fill"
            style="color: orange; margin-right: 10px"
            *ngIf="AtraccionRe"
          ></i>
          <label>Atracción:</label>
          <select [(ngModel)]="atra_ID2" class="form-select text-center" >
            <option value="0">Atracción</option>
            <option *ngFor="let attr of ddlAtracciones" [value]="attr.atra_ID">
              {{ attr.atra_Nombre }}
            </option>
          </select>
          <i
          class="bi bi-exclamation-circle-fill"
          style="color: orange; margin-right: 10px"
          *ngIf="TicketRe"
        ></i>
          <label class="mt-3">Código Ticket:</label>
          <input
          [(ngModel)]="ticl_ID" class="form-control text-center" placeholder="Código Ticket">
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success btn ov-btn-grow-primary"
            (click)="Insert()"
            >
            <i class="bi bi-check-circle-fill"></i>
            Guardar
          </button>
          <button type="button" class="btn ov-btn-grow-d" data-bs-dismiss="modal">
            <i class="bi bi-reply-fill"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--/Modal Insert-->



  
<!--Modal Eliminar-->
<div class="modal fade" id="eliminar" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title text-light"><b>Confirmar</b></h5>
        </div>
        <div class="modal-body" style="text-align: center">
          <h5 style="text-align: center; margin-top: 20px">
            <b>¿Desea eliminar este registro?</b>
          </h5>
          <img
            src="https://media0.giphy.com/media/ZyvTZ5ErOd1XyoKa0h/giphy.gif?cid=6c09b952125055d34915c1cdd5fb9e29241e377dbf424c5d&ep=v1_internal_gifs_gifId&rid=giphy.gif&ct=s"
            style="
              width: 100px;
              height: 100px;
              margin-right: 30px;
              text-align: center;
            "
            alt="Warning Sign"
          />
        </div>
        <div class="modal-footer">
         
            <button
              type="button"
              class="ov-btn-grow-in "
              style="margin-left: 10px; height: 2.5rem"
              (click)="Delete()"
            >
              <i class="bi bi-check-circle-fill"></i> Confirmar
            </button>
            <button
              type="button"
              class="ov-btn-grow-d"
              data-bs-dismiss="modal"
              style="margin-left: 10px; height: 2.5rem"
            >
              <i class="bi bi-reply-fill"></i>
              Cancelar
            </button>
        </div>
      </div>
    </div>
  </div>
  <!--/Modal Eliminar-->
  

  
<!--Modal Eliminar-->
<div class="modal fade" id="eliminarCompleto" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header " style="background-color: #9e5fc5;">
          <h5 class="modal-title text-light"><b>Confirmar</b></h5>
        </div>
        <div class="modal-body" style="text-align: center">
          <h5 style="text-align: center; margin-top: 20px">
            <b>Al hacer esto se eliminaran de la fila la cantidad de personas correspondiente al limite de la atracción</b><br>
            <b>¿Desea Continuar?</b>
          </h5>
          <img
            src="../../../assets/img/PersonasenFila.png"
            style="
              width: 200px;
              height: 120px;
              margin-right: 30px;
              text-align: center;
            "
            alt="Warning Sign"
          />
        </div>
        <div class="modal-footer">
         
            <button
              type="button"
              class="ov-btn-grow-success"
              style="margin-left: 10px; height: 2.5rem"
              (click)="DeleteCompleto()"
            >
              <i class="bi bi-check-circle-fill"></i> Confirmar
            </button>
            <button
              type="button"
              class="ov-btn-grow-d"
              data-bs-dismiss="modal"
              style="margin-left: 10px; height: 2.5rem"
            >
              <i class="bi bi-reply-fill"></i>
              Cancelar
            </button>
        </div>
      </div>
    </div>
  </div>
  <!--/Modal Eliminar-->
  