<p>listar works!</p>

<div class="card">
    <div class="card-header">
        <h3>Listado Categorias</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cat of categoria">
                    <td>{{cat.cate_Id}}</td>
                    <td>{{cat.cate_Descripcion}}</td>
                    <td>
                        <button (click)="Editar(cat)" class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    vanillaToast
      .show('Hello, this is vanilla-toast.')
      .default('A toast notification module writtern in vanilla js that has no dependencies on other libraries.')
      .default('10', {duration:700, fadeDuration:200})
      .info('9', {duration:700, fadeDuration:180})
      .info('8', {duration:500, fadeDuration:160})
      .info('7', {duration:500, fadeDuration:140})
      .success('6', {duration:400, fadeDuration:120})
      .success('5', {duration:400, fadeDuration:100})
      .success('4', {duration:400, fadeDuration:70})
      .warning('3', {duration:300, fadeDuration:50,})
      .warning('2', {duration:300, fadeDuration:1})
      .error('1', {duration:300, fadeDuration:1, closeButton:false})
      .show('vanilla-toast', {className:'custom'});
  </script>