<main id="main" class="main">
  <div class="pagetitle">
    <h1>Usuarios</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item active">Index</li>
      </ol>
    </nav>
  </div>
  <div class="card">
    <div class="card-header" style="padding: 0; position: relative">
      <div
        class="banner"
        style="
          background-image: url('/assets/img/BANNERS-VR-FINAL/USUARIOS.png');
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background-size: contain;
          background-position: center;
          height: 0;
          padding-bottom: 23%; /* Ajusta este valor según la relación de aspecto de tu imagen */
        "
      ></div>
      <div
        class="overlay"
        style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"
      ></div>
    </div>

    <div class="card-body">
      <div class="row ms-5 col-11">
        <button class="ov-btn-grow-primary mt-3 col-2" style="height: 2.4rem; margin-left: 0;" data-bs-toggle="modal"
          data-bs-target="#crear" onclick="limpiarCampos()">
          <i class="fas fa-plus-circle mr-1"></i>
          Agregar
        </button>
        <div class="search-bar mt-3 col-10">
          <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filtro"
            (keyup)="filtrarUsuarios()">
        </div>
      </div>
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Usuario</th>
            <th scope="col">Empleado</th>
            <th scope="col">Admin</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuariosFiltrados">
            <td scope="row">{{usuario.usua_ID}}</td>
            <td scope="row">{{usuario.usua_Usuario}}</td>
            <td scope="row">{{usuario.nombreEmpleado}}</td>
            <td scope="row">{{usuario.esAdmin}}</td>
            <td scope="row">{{usuario.role_Descripcion}}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"
                  [id]="'dropdownMenuButton' + usuario.usua_ID" (click)="toggleDropdown(usuario.usua_ID)"
                  aria-haspopup="true" aria-expanded="false">
                  Acciones
                </button>
                <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton' + usuario.usua_ID"
                  [class.show]="isDropdownOpen(usuario.usua_ID)">
                  <a class="dropdown-item btn ov-btn-grow-u p-3" style="border: none;" data-bs-toggle="modal"
                    data-bs-target="#update" (click)="selectUsuario(usuario)">
                    <i class="fas fa-edit"></i>
                    Editar
                  </a>
                  <a class="dropdown-item btn ov-btn-grow-info p-3" style="border: none;">
                    <i class="fas fa-info-circle ml-1"></i>
                    Detalles
                  </a>
                  <a class="dropdown-item btn ov-btn-grow-dark p-3" style="border: none;" data-bs-toggle="modal"
                    data-bs-target="#pass" (click)="selectUsuario(usuario)">
                    <i class="fas fa-key ml-1"></i>
                    Cambio Contraseña
                  </a>
                  <a class="dropdown-item btn ov-btn-grow-d p-3" style="border: none;" data-bs-toggle="modal"
                    data-bs-target="#eliminar" (click)="selectUsuarioID(usuario)">
                    <i class="fas fa-trash-alt ml-1"></i>
                    Eliminar
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>


    
<!--Modal Insert-->
<div class="modal fade" id="crear" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nuevo Usuario</h5>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3 mt-5">
            <div class="row col-12">
                <div class="col-6">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" [(ngModel)]="InsertUsu.usua_Usuario" id="update_role_Nombre" placeholder="Usuario" aria-label="Username">
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    <input type="text" class="form-control" [(ngModel)]="InsertUsu.usua_Clave" id="update_role_Nombre" placeholder="Contraseña" aria-label="Password">
                  </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                      <select name="" id="" class="form-select" [(ngModel)]="InsertUsu.empl_Id">
                        <option value="undefined">Escoge un Empleado</option>
                        <option *ngFor="let empl of ddlEmpleado" [value]="empl.empl_ID">{{ empl.empl_NombreCompleto }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                      <div class="input-group">
                          <span class="input-group-text"><i class="fas fa-users"></i></span>
                          <select name="" id="" class="form-select" [(ngModel)]="InsertUsu.role_ID">
                            <option value="undefined">Escoge un Rol</option>
                            <option *ngFor="let rol of ddlRol" [value]="rol.role_Id">{{ rol.role_Nombre }}</option>
                          </select>
                        </div>
                    </div>   
                <div class="col-6 mt-3 offset-5">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="adminSwitch" [checked]="false" [(ngModel)]="InsertUsu.usua_Admin">
                      <label class="form-check-label" for="adminSwitch">Admin</label>
                    </div>
                  </div>
                </div>              
              </div>              
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn ov-btn-grow-primary" data-bs-dismiss="modal" (click)="Insert()">Agregar</button>
          <button type="button" class="btn ov-btn-grow-d" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--/Modal Insert-->
  
  
  
  
   <!-- Modal Update -->
  <div class="modal fade" id="update" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Usuario</h5>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3 mt-5">
                <div class="row col-12">
                    <div class="col-6">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control" [(ngModel)]="selectedUsu.usua_Usuario" id="update_role_Nombre" disabled placeholder="Usuario" aria-label="Username">
                      </div>
                    </div>
                    <div class="col-6 mt-3">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <select name="" id="" class="form-select" [(ngModel)]="selectedUsu.empl_Id">
                          <option value="">Escoge un Empleado</option>
                          <option *ngFor="let empl of ddlEmpleado" [value]="empl.empl_ID">{{ empl.empl_NombreCompleto }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-6 mt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-users"></i></span>
                            <select name="" id="" class="form-select" [(ngModel)]="selectedUsu.role_ID">
                              <option value="null">Escoge un Rol</option>
                              <option *ngFor="let rol of ddlRol" [value]="rol.role_Id">{{ rol.role_Nombre }}</option>
                            </select>
                          </div>
                      </div>                      
                    <div class="col-6 mt-3">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="adminSwitch" [(ngModel)]="selectedUsu.usua_Admin">
                          <label class="form-check-label" for="adminSwitch">Admin</label>
                        </div>
                      </div>
                    </div>              
                  </div>              
              </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn ov-btn-grow-u p-2" data-bs-dismiss="modal" (click)="Update()" >Actualizar</button>
          <button type="button" class="btn ov-btn-grow-d" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal Update -->
  
  
  
  <!--Modal Pass-->
  <div class="modal fade" id="pass" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Cambio de Contraseña</h5>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3 mt-5">
                <div class="row col-12">
            <div class="col-6">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" [(ngModel)]="selectedUsu.usua_Usuario" disabled id="update_role_Nombre" placeholder="Usuario" aria-label="Username">
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    <input type="text" class="form-control" [(ngModel)]="selectedUsu.usua_Clave" id="update_role_Nombre" placeholder="Nueva Contraseña" aria-label="Password">
                  </div>
                </div>
                </div>
            </div>
          </div>
          <div class="modal-footer"> 
            <button type="button" class="btn btn-success btn ov-btn-grow-u p-2" data-bs-dismiss="modal" (click)="Pass()" >Actualizar</button></div>
            <button type="button" class="btn ov-btn-grow-d" data-bs-dismiss="modal">Cancelar</button> 
  
       </div>
    </div>
  </div>
  <!--/Modal Pass-->
  
  <!--Modal Eliminar-->
  <div class="modal fade" id="eliminar" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-header">
            <div class="row justify-content-center">
             <h5 class="modal-title col-12">Esta seguro que desea eliminar este registro?</h5>
            </div>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center mb-2">
            <img src="https://img2.freepng.es/20180320/vuw/kisspng-symbol-font-trash-2-5ab0cac77f1e88.8245172715215356875207.jpg" alt="Not Found" class="w-50" srcset="">
            </div>
            <div class="row justify-content-center">
              <button type="button" class="ov-btn-grow-d col-lg-5" data-bs-dismiss="modal" (click)="Delete()" >Confirmar</button>
              <div class="col-lg-1"></div> 
              <button type="button" class="btn btn-light col-lg-5" data-bs-dismiss="modal">Cancelar</button> 
            </div>
          </div>
          </div>
          <div class="modal-footer"> 
       </div>
    </div>
  </div>
  <!--/Modal Eliminar-->
  