
.blue-border {
  border: 6px solid #185390;
  padding: 5px;
  border-radius: 5px;
}

.badge {
  position: absolute;
  
  background-color: rgba(255, 255, 255, 0);
  color: white;
  
  border-radius: 20%;
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 100px;
  line-height: 30px;
}

.selected-ribbon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  font-weight: bold;
}

.card-img-overlay-mod {
  position: relative;
}


.img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badges-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.my-badge {
  width: 150px;
  height: 50px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
}

.my-badge.grouped {
  margin-top: 20px;
  margin-bottom: 20px;
}
