<main id="main" class="main">
    <div class="pagetitle">
       <h1>Atraccioness</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item" ><a routerLink="/atracciones-listado"> Listado</a></li>             
             <li class="breadcrumb-item active"> <a routerLink="/atraccioness-detalle">Detalle</a> </li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card bg-light">
                <div class="card-header" style="padding: 0; position: relative">
                    <div
                      class="banner"
                      style="
                        background-image: url('/assets/img/BANNERS-VR-FINAL/ATRACCIONES.png');
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        background-size:contain;
                        background-position: center;
                        height: 0;
                        padding-bottom: 23%; /* Ajusta este valor según la relación de aspecto de tu imagen */
                      "
                    ></div>
                    <div
                      class="overlay"
                      style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"
                    ></div>
                  </div>
                <div class="card-body">
                  <div class="row mt-3">
                     <div class="col-12">
                        <div class="card" style="border-radius: 20px;">
                           <div class="card-header text-center">
                              <div class="card-title mb-0 mt-0">
                                 <img
                                 style="margin-right: 40px; width: 64px; height: 64px;"
                                 src="assets/img/DETALLES/theme-park.png"/>
                                 <b>Información de la atracción</b> 
                              </div>
                           </div>
                           <div class="card-body">
                              <div class="row mt-2 mb-0">
                                 <div class="col-8">
                                    <div class="row ms-5">

                                       <label class=" card-text col-12">
                                          <i class="bi bi-info-circle-fill" style="color: rgb(4, 83, 156)"></i>                                 
                                          <b> Nombre: </b>
                                          {{ atracciones.atra_Nombre }}
                                       </label>                                 
                                       <label class=" card-text col-12 mt-3">
                                          <i class="bi bi-info-circle-fill" style="color: rgb(4, 83, 156)"></i>
                                          <b> Descripción: </b>
                                          {{ atracciones.atra_Descripcion }}
                                       </label>                                                               
                                       <label class=" card-text col-12 mt-3">
                                          <i class="bi bi-info-circle-fill" style="color: rgb(4, 83, 156)"></i>                                 
                                          <b> Zona: </b>
                                          {{ atracciones.area_Nombre }}
                                       </label>                                 
                                       <label class=" card-text col-12 mt-3">
                                          <i class="bi bi-info-circle-fill" style="color: rgb(4, 83, 156)"></i>
                                          <b> Region: </b>
                                          {{ atracciones.atra_regi_Nombre }}
                                       </label>      
                                       <label class=" card-text col-12 mt-3">
                                          <i class="bi bi-info-circle-fill" style="color: rgb(4, 83, 156)"></i>
                                          <b> Dirección: </b>
                                          {{ atracciones.atra_ReferenciaUbicacion }}
                                       </label>    
                                    </div>
                                 </div>
                                 <div class="col-4">
                                    <img [src]="atracciones.atra_Imagen" class="custom-image">

                                 </div>
                              </div> 
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row mt-2 mb-0">
                     <div class="col-12">
                        <div class="card">
                           <div class="card-header" style="padding: 0; position: relative">
                              <div
                                class="banner"
                                style="
                                  background-image: url('/assets/img/BANNERS-VR-FINAL/AUDITORIA.png');
                                  border-top-left-radius: 10px;
                                  border-top-right-radius: 10px;
                                  background-size:contain;
                                  background-position: center;
                                  height: 0;
                                  padding-bottom: 24%; /* Ajusta este valor según la relación de aspecto de tu imagen */
                                "
                              ></div>
                              <div
                                class="overlay"
                                style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"
                              ></div>
                            </div>
                           <div class="card-body text-center">
                              <div class="col-md-12">
                                 <table class="mt-3 table table-striped table-hover table-bordered table-light">
                                    <tbody>
                                          <tr>
                                             <th > 
                                                <label class="d-flex justify-content-left">
                                                   <i class="bi bi-pencil-fill" style="margin-right: 10px; color: rgb(4, 83, 156)"></i>                                                
                                                   Acción 
                                                </label>
                                             </th>
                                             <th> 
                                                <label class="d-flex justify-content-left">
                                                   <i class="bi bi-person-circle" style="margin-right: 10px; color: rgb(224, 166, 5)"></i> 
                                                   Usuario
                                                </label>
                                             </th>                                             
                                             <th> 
                                                <label class="d-flex justify-content-left">
                                                   <i class="bi bi-calendar-check-fill" style="margin-right: 10px; color: rgb(156, 4, 4)"></i>                                                    
                                                   Fecha y Hora
                                                </label>
                                             </th>

                                          </tr>
                                          <tr>
                                             <th > <label class="d-flex justify-content-left">Crear</label></th>
                                             <th> <label class="d-flex justify-content-left">{{atracciones.atra_UsuarioCreador_Nombre}}</label></th>

                                             <th> <label class="d-flex justify-content-left">{{atracciones.atra_FechaCreacion}}</label></th>

                                          </tr>
                                          <tr>
                                             <th> <label class="d-flex justify-content-left">Editar</label> </th>
                                             <th> <label class="d-flex justify-content-left">{{atracciones.atra_UsuarioModificador_Nombre}}</label></th>
                                             <th> <label class="d-flex justify-content-left">{{atracciones.atra_FechaModificacion}}</label></th>
                                          </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div class="d-flex justify-content-end">
                           
                                 <button (click)="Volver()" class="ov-btn-grow-d ms-2 mb-2 mt-3 col-2" style="height: 2.4rem; margin-left: 0;">
                                 <i class="bi bi-reply-fill"></i>
                                 <label class="ms-2">Volver</label>
                                 </button>
                              </div>
   
                           </div>
                        </div>
                     </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
