<main id="main" class="main">
  <div class="pagetitle">
    <h1>Ticket</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
        <li class="breadcrumb-item">Ticket</li>
        <li class="breadcrumb-item active">Listado</li>
      </ol>
    </nav>
  </div>
  <div class="card">
    <div class="card-header" style="padding: 0; position: relative">
      <div
        class="banner"
        style="
          background-image: url('../../assets/img/BANNERS-VR-FINAL/TICKETS.png');
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background-size: contain;
          background-position: center;
          height: 0;
          padding-bottom: 26%; /* Ajusta este valor según la relación de aspecto de tu imagen */
        "
      ></div>
    </div>
    <div class="card-body">
      <div class="grid-container" style="margin-top:30px; margin-bottom: 15px; margin-left: 5px; margin-right: 5px;">
        <div class="grid-item">
          <img
            src="assets/img/TICKETS-TIPOS/TICKET-CLASICO.png"
            alt="Ticket Clásico"
            class="ticket-image"
            (click)="
              showImagePreview('assets/img/TICKETS-TIPOS/TICKET-CLASICO.png')
            "
          />
          <div class="info">
            <div class="row">
              <div class="col">
                <b>✦ TIPO: </b><span>Ticket {{ ticket[0].tckt_Nombre }}</span>
              </div>
              <div class="col">
                <b>✦ PRECIO: </b><span>$ {{ ticket[0].tckt_Precio }}</span>
              </div>
            </div>
          </div>

        </div>
        <div class="grid-item">
          <img
            src="assets/img/TICKETS-TIPOS/TICKET-VIP.png"
            alt="Ticket VIP"
            class="ticket-image"
            (click)="
              showImagePreview('assets/img/TICKETS-TIPOS/TICKET-VIP.png')
            "
          />
          <div class="info">
            <div class="row">
              <div class="col">
                <b>✦ TIPO: </b><span>Ticket {{ ticket[1].tckt_Nombre }}</span>
              </div>
              <div class="col">
                <b>✦ PRECIO: </b><span>$ {{ ticket[1].tckt_Precio }}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal para la previsualización de la imagen ampliada -->
<div id="imagePreviewModal" class="modal">
  <div class="modal-content">
    <span class="close" style="color: black" (click)="closeImagePreview()"
      ><i class="bi bi-x-square-fill" style="color: rgb(138, 1, 1)">
        Cerrar</i
      ></span
    >
    <div class="image-container">
      <img id="previewImage" src="" alt="Image Preview" />
    </div>
  </div>
</div>

<div class="modal fade update" id="update" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Precio</h5>
      </div>
      <div class="modal-body">
        <div class="d-flex">
         
          <div class="input-group mb-3 mt-5 flex-grow-1">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-edit" style="margin-right: 9px; color: rgb(4, 83, 156)"></i>
            </span>
            <input type="text" readonly class="form-control">
          </div>
          
          <div class="input-group mb-3 mt-5" style="margin-left: 9px;">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-currency-dollar" style="color: rgb(4, 83, 156)"></i>
            </span>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn ov-btn-grow-u">
          <i class="bi bi-check-circle-fill"></i> Actualizar
        </button>
        <button type="button" class="btn ov-btn-grow-d" data-bs-dismiss="modal">
          <i class="bi bi-reply-fill"></i>
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
