//primary button
.ov-btn-grow-primary {
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #4741d7; /* tamaño y color de borde */
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.blue-border {
  border: 6px solid #185390;
  padding: 5px;
  border-radius: 5px;
}

.ov-btn-grow-primary:hover {
  color: #fff; /* color de fuente hover */
}

.ov-btn-grow-primary::after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 0; /* ajusta el padding a 0 */
  display: block;
  left: -50%;
  right: -50%;
  top: -50%; /* ajusta el valor para aumentar la altura */
  bottom: -50%; /* ajusta el valor para aumentar la altura */
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.ov-btn-grow-primary:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}


//btn info
.ov-btn-grow-info {
  background: #fff; /* color de fondo */
  color: #77bcdb; /* color de fuente */
  border: 2px solid #77bcdb; /* tamaño y color de borde */
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-info:hover {
  color: #fff; /* color de fuente hover */
}

.ov-btn-grow-info::after {
  content: "";
  background: #77bcdb; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 0; /* ajusta el padding a 0 */
  display: block;
  left: -50%;
  right: -50%;
  top: -50%; /* ajusta el valor para aumentar la altura */
  bottom: -50%; /* ajusta el valor para aumentar la altura */
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.ov-btn-grow-info:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}


//insert button
.ov-btn-grow-in {
  background: #fff; /* color de fondo */
  color: #3cda49; /* color de fuente */
  border: 2px solid #3cda49; /* tamaño y color de borde */
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-in:hover {
  color: #fff; /* color de fuente hover */
}

.ov-btn-grow-in::after {
  content: "";
  background: #3cda49; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 0; /* ajusta el padding a 0 */
  display: block;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.ov-btn-grow-in:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}


//edit button
.ov-btn-grow-u {
  background: #fff; /* color de fondo */
  color: #e29c4c; /* color de fuente */
  border: 2px solid #e29c4c; /* tamaño y color de borde */
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-u:hover {
  color: #fff; /* color de fuente hover */
}

.ov-btn-grow-u::after {
  content: "";
  background: #e29c4c; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 0; /* ajusta el padding a 0 */
  display: block;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.ov-btn-grow-u:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}


//delete button
.ov-btn-grow-d {
  background: #fff; /* color de fondo */
  color: #da5c3c; /* color de fuente */
  border: 2px solid #da5c3c; /* tamaño y color de borde */
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-d:hover {
  color: #fff; /* color de fuente hover */
}

.ov-btn-grow-d::after {
  content: "";
  background: #da5c3c; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 0; /* ajusta el padding a 0 */
  display: block;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.ov-btn-grow-d:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

//delete dark

.ov-btn-grow-dark {
  background: #fff; /* color de fondo */
  color: #000000; /* color de fuente */
  border: 2px solid #000000; /* tamaño y color de borde */
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-dark:hover {
  color: #fff; /* color de fuente hover */
}

.ov-btn-grow-dark::after {
  content: "";
  background: #000000; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 0; /* ajusta el padding a 0 */
  display: block;
  left: -50%;
  right: -50%;
  top: -50%; /* ajusta el valor para aumentar la altura */
  bottom: -50%; /* ajusta el valor para aumentar la altura */
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.ov-btn-grow-dark:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.badge-custom {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 6px 9px;
  font-size: 11px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.hover-effect {
  transition: transform 0.5s, box-shadow 0.5s;
}

.hover-effect:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}