<main id="main" class="main">
    <div class="pagetitle">
      <h1>Cargos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
          <li class="breadcrumb-item">Editar</li>
          <li class="breadcrumb-item active">Cargos</li>
        </ol>
      </nav>
    </div>
    <div
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      *ngIf="showErrorAlert"
    >
      <i class="bi bi-exclamation-octagon me-1"></i> {{ errorMessage }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="closeErrorAlert()"
      ></button>
    </div>
  
    <div
      class="alert alert-success alert-dismissible fade show"
      role="alert"
      *ngIf="showSuccessAlert"
    >
      <i class="bi bi-check-circle me-1"></i> {{ successMessage }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="closeSuccessAlert()"
      ></button>
    </div>
    <section class="section">
      <h5 class="card-title">Editar Cate</h5>
      <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label"
          >Nombre del cargo</label
        >
        <div class="col-sm-10">
          <input
            [(ngModel)]="cargos.carg_Nombre"
            type="text"
            class="form-control"
          />
        </div>
        <label for="inputText" class="col-sm-2 col-form-label"
          >Usuario Creador</label
        >
        <div class="col-sm-10">
          <input
            [(ngModel)]="cargos.carg_UsuarioCreador"
            type="number"
            class="form-control"
          />
        </div>
        <button class="bnt btn-secondary">Editar</button>
      </div>
    </section>
  </main>
  
