<main id="main" class="main">
   <div class="pagetitle">
      <h1>Atracciones</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Principal</a></li>
            <li class="breadcrumb-item">Atracciones</li>
            <li class="breadcrumb-item active">Listado</li>
         </ol>
      </nav>
   </div>

   <div class="card">
      <div class="card-header" style="padding: 0;">
         <div class="banner" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcA3PYCthnwH8QcByxYcI1MB314iPksl6Nqw&usqp=CAU');border-top-left-radius:10px;border-top-right-radius:10px; background-size: cover; background-position: center;">
            <div class="overlay"></div>
            <div class="text-center" style="padding: 2rem;">
               <h3 style="font-size: 2rem; font-weight: bold; color: white;">Atracciones</h3>
               <p style="font-size: 1rem; color: white;">Administración de Atracciones</p>                        
            </div>
         </div>
      </div>

      <div class="card-body">
         <div class="row col-lg-12 ms-1">
            <button (click)="AgregarAtraccion()" class="ov-btn-grow-primary mb-2 mt-3 col-2" style="height: 2.4rem; margin-left: 0;">
              <i class="fas fa-plus-circle mr-1"></i>
              Agregar
            </button>

            <div class="search-bar mt-3 col-10">
              <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filtro">
            </div>
          </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-1 row-cols-sm-3 justify-content-center align-items-stretch gap-4 mt-2">
         <div *ngFor="let atraccion of filtrarAtracciones() | paginate: { itemsPerPage: 2, currentPage: p }" class="card border shadow rounded-md p-2 d-flex flex-column">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcA3PYCthnwH8QcByxYcI1MB314iPksl6Nqw&usqp=CAU" alt="" class="card-img-top">
         
            <div class="card-body">             
               <h3 class="text-xl mt-3 font-semibold">{{ atraccion.atra_Nombre }}</h3>
            </div>
            <div class="card-footer" style="text-align: center;">
               <button class="ov-btn-grow-d"><i class="bi bi-trash-fill"></i></button>
               <button (click)="EditarAtraccion(atraccion)" class="ov-btn-grow-u" style="margin-left: 10px"><i class="bi bi-pen-fill"></i></button>
             </div>
         </div>
      </div>

      <div class="pagination d-flex justify-content-center mt-4">
         <pagination-controls (pageChange)="p = $event"
                              previousLabel="Anterior"
                              nextLabel="Siguiente"
                              firstLabel="Primera"
                              lastLabel="Última"
                              screenReaderPaginationLabel="Paginación"
                              screenReaderPageLabel="Página"
                              screenReaderCurrentLabel="Página actual">
         </pagination-controls>
       </div>
   </div>

</main>