<main id="main" class="main">
   <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
         </ol>
      </nav>
   </div>
   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Datatables</h5>
                  <p>Add lightweight datatables to your project.</p>
                  <table class="table datatable nowrap">
                     <thead>
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Nombre</th>
                           <th scope="col">Límite personas</th>
                           <th scope="col">Acciones</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let item of atracciones">
                           <th scope="row">{{item.atra_ID}}</th>
                           <td>{{item.atra_Nombre}}</td>
                           <td>{{item.atra_LimitePersonas}}</td>
                           <td>
                              <button class="btn btn-info btn-sm">Editar</button>
                              <button class="btn btn-danger btn-sm" style="margin-left: 10px;">Eliminar</button>                              
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>